body{margin:0;padding:0;}

a.hlink_1:link {color:#800080;}
a.hlink_1:visited {color:#01c7f6;}
a.hlink_1:hover {color:#00ff00;}
a.hlink_1:active {color:#01c7f6;}

a.hlink_2:link {color:#0000ff;}
a.hlink_2:visited {color:#01c7f6;}
a.hlink_2:hover {color:#01c7f6;}
a.hlink_2:active {color:#01c7f6;}

a.hlink_3:link {color:#800080;}
a.hlink_3:visited {color:#01c7f6;}
a.hlink_3:hover {color:#01c7f6;}
a.hlink_3:active {color:#01c7f6;}

.Body-C
{
    font-family:"Arial Rounded MT Bold", sans-serif;
	font-size:16.0px; 
	line-height:1.13em;
}

.Body-C-C0
{
    font-family:"Corbel", sans-serif; 
	font-size:14.0px; 
	line-height:1.23em;
}

.Button1,.Button1:link,.Button1:visited {
	background-color:transparent;
	text-decoration:none;
	display:block;
	position:absolute;
	}
.Button1:focus{outline-style:none;}
.Button1 span,.Button1:link span,.Button1:visited span {
	color:#ffffff;
	font-family:Arial,sans-serif;
	font-weight:bold;
	text-decoration:none;
	text-align:center;
	text-transform:none;
	font-style:normal;
	left:4px;
	top:7px;
	width:128px;
	height:17px;
	font-size:13px;
	display:block;
	position:absolute;
	cursor:pointer;
	}

.Button2,.Button2:link,.Button2:visited {
	background-color:transparent;
	text-decoration:none;
	display:block;
	position:absolute;
	}
.Button2:focus{outline-style:none;}
.Button2 span,.Button2:link span,.Button2:visited span {
	color:#b3b3b3;
	font-family:Arial,sans-serif;
	font-weight:bold;
	text-decoration:none;
	text-align:center;
	text-transform:none;
	font-style:normal;
	left:4px;
	top:7px;
	width:128px;
	height:17px;
	font-size:13px;
	display:block;
	position:absolute;
	cursor:pointer;
	}
.Button2:hover span{color:#ffffff;}
.Button2:active span{color:#ffffff;}

#banner {
	width: auto;
	margin: auto;
	height: 100px;
	}
	
#menu {
	position:absolute;
	left:600px;
	top:64px;
	width:575px;
	height:41px;
	background-image:url('http://localhost/Yemi/wp9d10a1bc_06.png');
	}
	
#region {
	position:absolute;
	left:190px;
	top:292px;
	width:233px;
	height:146px; 
	border: 2px solid #000080;
	overflow:hidden;
	padding:8px 3px 2px;
	}

#destinations {
	position:absolute;
	left:459px;
	top:292px;
	width:239px;
	height:146px; 
	border: 2px solid #800080;
	overflow:hidden;
	padding:8px 3px 2px;
	}
	
#search {
	position:absolute;
	left:735px;
	top:292px;
	width:233px;
	height:146px; 
	border: 2px solid #800000;
	overflow:hidden;
	padding:8px 3px 2px;
	}